[submodule "bundles/ruby-tmbundle"]
	path = bundles/ruby-tmbundle
	url = https://github.com/textmate/ruby.tmbundle.git
[submodule "bundles/html-tmbundle"]
	path = bundles/html-tmbundle
	url = https://github.com/textmate/html.tmbundle.git
[submodule "bundles/rails-tmbundle"]
	path = bundles/rails-tmbundle
	url = https://github.com/textmate/ruby-on-rails-tmbundle.git
[submodule "bundles/objc-tmbundle"]
	path = bundles/objc-tmbundle
	url = https://github.com/textmate/objective-c.tmbundle.git
[submodule "bundles/javascript.tmbundle"]
	path = bundles/javascript.tmbundle
	url = https://github.com/textmate/javascript.tmbundle.git
[submodule "bundles/shellscript.tmbundle"]
	path = bundles/shellscript.tmbundle
	url = https://github.com/textmate/shellscript.tmbundle.git
[submodule "bundles/css.tmbundle"]
	path = bundles/css.tmbundle
	url = https://github.com/textmate/css.tmbundle.git
